#main{
    background-color: aqua;
    text-align: center;
}

#maintwo{
    text-align: center;
    background-color: thistle;
}

#mainthree{
    text-align: center;
    background-color: red;
}

#mainfour{
    text-align: center;
    background-color: yellowgreen;
}

#mainfive{
text-align: center;
background-color: violet;
}

#mainSeven{
    text-align: center;
    background-color :darkgoldenrod;
}

#mainEight{
    text-align: center;
    background-color: darkseagreen;
}

#mainTen
{
    text-align: center;
    background-color: gold;
}

#mainEleven
{
    text-align: center;
    background-color: lightgoldenrodyellow;
}

#mainTwelve
{
    text-align: center;
    background-color: lightskyblue;
}

#mainThirteen
{
    text-align: center;
    background-color: salmon;
}